SkySales.Presentation.WinForm/Connected Services/StudentWebServiceReference/StudentWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SkySales.Web.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SkySales.Web.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StudentId" type="xs:int" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentWS" nillable="true" type="tns:StudentWS" />
  <xs:complexType name="ArrayOfStudentWS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StudentWS" nillable="true" type="tns:StudentWS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudentWS" nillable="true" type="tns:ArrayOfStudentWS" />
</xs:schema>